.MovieItem {
  width: 200px;
  height: 330px;
  padding: 20px 10px;
  margin: 10px 0px;
  cursor: pointer;
}

.movieImage {
  width: 200px;
  height: 300px;
  border-radius: 25px;
}

.movieTitle {
  font-size: 20px;
}

.skeletonMovieImage {
  width: 200px;
  height: 300px;
  border-radius: 25px;
  background-color: grey;
}
