.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: antiquewhite;
}

.movieListWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.NoResult {
  grid-column: 1/-1;
  font-size: 45px;
}
