.MovieList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  justify-items: center;
  padding: 20px;
  height: auto;
}

/* Spinner.css */
.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1); /* Outer border */
  border-top: 8px solid #3498db; /* Top border (spinner color) */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
